.container {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  isolation: isolate;
}

/* 背景画像のレイヤー */
.backgroundLayer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: var(--bg-dark);

  background-image: url('/images/mable-black-p.jpg');
  background-repeat: repeat;
  background-position: center top;
  mix-blend-mode: overlay;

  opacity: 0.05;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  margin: 0 auto;

  @media (max-width: 980px) {
    padding: 10px;
  }
}
